html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.activebtn {
    color: #fff;
    background-color: dimgrey;
    border-color: #1a1a1a;
}
span.price {
    float: right;
    color: grey;
}